.App {
  text-align: center;
  background-color: #f8f8f8;
  height: 100vh;
}

/* HOME */

.navbar {
  display: flex;
  background-color: white;
  width: auto;
  height: 10rem;
}

.searchBar {
  flex: 1 1 auto;
}

.searchBar > input {
  width: 260px;
  height: 30px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 30px;
  border-radius: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.searchBar > input[type="text"]:focus {
  box-shadow: 0 0 5px 0 #3f69a8;
  border-color: #3f69a8;
  outline: 10px;
}

/* MAIN */

/* .slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
} */

/* .slider-track {
  display: flex; */
/* width: calc(250px * 15); */
/* animation: scroll 40s linear; */
/* } */

/* .slider-track:hover {
  animation-play-state: paused;
} */

/* @keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
} */

/* .slide {
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
} */

/*  */

/* 
} */

/* 

 */

/* Media Queries */

/* min-width: 1025 px */

/* @media screen and (min-width: 1025px) {
  .container .card_item {
    width: 25%;
    display: block;
  }
  .card_item {
    padding: 15px 10px;
  }
  .container .card_item img {
    width: 100%;
  }
} */

/* @media screen and (max-width: 1024px) {
  .container .card_item {
    width: 33%;
    display: block;
  }
  .card_item {
    padding: 15px 10px;
  }
  .container .card_item img {
    width: 100%;
  }
} */

/* @media screen and (max-width: 768px) {
  .container .card_item {
    width: 37%;
    margin: 0px 30px 0px 0px;
  }
  .container .card_item img {
    width: 100%;
  }
} */

/* @media screen and (max-width: 568px) {
  .App {
    overflow-x: hidden;
  }
  .container {
    width: 198%;
  }
  .container .card_item {
    width: 100%;
    margin: auto;
  }
  .container .card_item img {
    width: 100%;
  }
  .detail-box {
    justify-content: space-evenly;
  }
  .container .card_item .gitDetail {
    flex-direction: row;
  }
  .container .card_inner {
    padding: 0px 0px 20px 0px;
  }
  /* .slider {
    height: 375px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  } */
/* .slider-track {
    display: flex;
    /* width: calc(220px * 2); */
/* animation: scroll 40s linear infinite; */
/* } 
}
 */

@media screen and (max-width: 375px) {
  .logo {
    flex: 1 1 auto;
  }
  .searchBar > input {
    width: 200px;
  }
  input::placeholder {
    font-size: 11px;
    color: grey;
  }
  .slider {
    height: 410px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .container .card_item {
    margin: 10px;
  }
  .container .card_item:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    cursor: pointer;
  }

  .container .card_inner {
    background: rgba(253, 253, 253, 0.808);
    border-radius: 10px;
    padding: 0px 0px 12px 0px;
    min-width: 225px;
    /* min-height: 315px; */
    max-height: 370px;
    width: 100%;
    box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
  }
  .image-group {
    height: 266px;
  }
  .triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid white;
    border-right: 100px solid transparent;
    position: relative;
    bottom: 16rem;
  }
  .container .card_item img {
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
    transition: transform 0.2s;
  }
  .price p {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 50px;
    left: 12px;
  }
  .container .card_item .userUrl {
    font-size: 12px;
    font-weight: 100;
    margin: 0px 0px;
    word-wrap: break-word;
    color: #888b9e;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 17px;
    align-items: center;
  }

  .detail-box > span {
    margin: 2px;
    padding: 2px 10px;
    border: 2px solid #c7e6fa;
    background-color: #f0ebfa;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    color: #788697;
  }

  .container .card_item .gitDetail {
    flex-direction: row;
    font-size: 14px;
    line-height: 33px;
    color: #7b8ca0;
    display: flex;
  }
  .gitDetail > button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .likeBtn {
    width: 31px;
    height: 33px;
    position: relative;
    left: -4px;
    top: -2px;
    border: none;
  }
  .gitDetail > span {
    margin-left: 10px;
    margin-right: 5px;
  }

  .like-btn:active {
    box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(3px);
  }
}
