.App {
  text-align: center;
  background-color: #f8f8f8;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

/* HOME */

.navbar {
  display: flex;
  background-color: white;
  width: auto;
  height: 10rem;
}

.logo {
  flex: 1 1 auto;
}

.searchBar {
  flex: 1 1 auto;
}

.searchBar > input {
  width: 260px;
  height: 30px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 30px;
  border-radius: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.searchBar > input[type="text"]:focus {
  box-shadow: 0 0 5px 0 #3f69a8;
  border-color: #3f69a8;
  outline: 10px;
}

/* MAIN */

/* .slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
} */

.slider-track {
  display: flex;
  /* width: calc(250px * 15); */
  /* animation: scroll 40s linear infinite; */
}

.slider-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

/* CARDS */
.container {
  padding: 0px 20px 20px 20px;
  width: 99%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.card_item {
  padding: 15px 0px;
  width: 24%;
  text-align: center;
}

.container .card_item:hover {
  transform: scale(1.02);
  /* transition: transform 0.3s; */
  cursor: pointer;
}

.container .card_inner {
  background: rgba(253, 253, 253, 0.808);
  border-radius: 10px;
  padding: 0px 0px 12px 0px;
  min-width: 225px;
  min-height: 315px;
  max-height: 370px;
  width: 100%;
  box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}

.container .card_item img {
  width: 292px;
  height: 200px;
  margin-bottom: 15px;
  align-items: center;
  transition: transform 0.2s;
}

.container .card_item .userName {
  color: #203150;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .card_item .userUrl {
  font-size: 12px;
  font-weight: 100;
  margin: 0px 0px;
  word-wrap: break-word;
  color: #888b9e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container .card_item .gitDetail {
  font-size: 14px;
  line-height: 24px;
  color: #7b8ca0;
  display: flex;
  flex-direction: column;
}

.detail-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 17px;
}

.detail-box span {
  padding: 2px 10px;
  font-size: 10px;
  font-weight: 600;
  color: #788697;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top: 80px solid white;
  border-right: 120px solid transparent;
  position: absolute;
}

.price p {
  margin-bottom: 1rem;
  position: relative;
  top: -65px;
  left: 13px;
}

.gitDetail > button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.likeBtn {
  width: 31px;
  height: 33px;
  position: relative;
  left: -4px;
  top: -2px;
  border: none;
}

.like-btn:active {
  box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(3px);
}

/* Media Queries */

/* min-width: 1025 px */

@media screen and (min-width: 1025px) {
  .container .card_item {
    width: 25%;
    display: block;
  }
  .card_item {
    padding: 15px 10px;
  }
  .container .card_item img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container .card_item {
    width: 33%;
    display: block;
  }
  .card_item {
    padding: 15px 10px;
  }
  .container .card_item img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container .card_item {
    width: 37%;
    margin: 0px 30px 0px 0px;
  }
  .container .card_item img {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .App {
    overflow-x: hidden;
  }
  .container {
    width: 198%;
  }
  .container .card_item {
    width: 100%;
    margin: auto;
  }
  .container .card_item img {
    width: 100%;
  }
  .detail-box {
    justify-content: space-evenly;
  }
  .container .card_item .gitDetail {
    flex-direction: row;
  }
  .container .card_inner {
    padding: 0px 0px 20px 0px;
  }
  .slider {
    height: 375px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .slider-track {
    display: flex;
    width: calc(220px * 2);
    /* animation: scroll 40s linear infinite; */
  }
}

@media (max-width: 375px) {
  .navbar {
    width: auto;
    height: 9rem;
  }
  .searchBar {
    margin-left: 0px;
    margin-right: 10px;
  }
  .logo {
    margin-left: 13px;
  }
  .searchBar > input {
    width: 200px;
    margin: 0px 10px 0px 20px;
  }
  input::placeholder {
    font-size: 11px;
    color: grey;
  }
  .container .card_item {
    width: 100%;
  }
  .container .card_item img {
    width: 100%;
  }
  .detail-box > span {
    margin: 2px;
    padding: 2px 10px;
    border: 2px solid #c7e6fa;
    background-color: #f0ebfa;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    color: #788697;
  }
  .container .card_item .gitDetail {
    flex-direction: row;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .slider {
    height: 375px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
