.App {
  text-align: center;
  background-color: #f8f8f8;
  height: 100vh;
}

/* HOME */
.navbar {
  display: flex;
  background-color: white;
  width: auto;
  height: 10rem;
}
.searchBar {
  flex: 1 1 auto;
}
.searchBar > input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 30px;
  border-radius: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.searchBar > input[type="text"]:focus {
  box-shadow: 0 0 5px 0 #3f69a8;
  border-color: #3f69a8;
  outline: 10px;
}
input::placeholder {
  font-size: 11px;
  color: grey;
}
.logo {
  flex: 1 1 auto;
}

/* MAIN */
.slider {
  height: 410px;
  margin: auto;
}

/* CARD */
.container {
  padding: 40px 20px 20px 20px;
  width: 99%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.price p {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 50px;
  left: 12px;
}

.container .card:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
  cursor: pointer;
}

.container .card_inner {
  background: rgba(253, 253, 253, 0.808);
  border-radius: 10px;
  padding: 0px 0px 12px 0px;
  min-width: 225px;
  max-height: 370px;
  width: 100%;
  box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}
.image-group {
  height: 266px;
}

.card__image {
  width: 100%;
  height: 240px;
  margin-bottom: 15px;
  transition: transform 0.2s;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-right: 100px solid transparent;
  position: relative;
  bottom: 16rem;
}
.container .card .userUrl {
  font-size: 12px;
  font-weight: 100;
  margin: 0px 0px;
  word-wrap: break-word;
  color: #888b9e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17px;
  align-items: center;
}
.detail-box > span {
  margin: 2px;
  padding: 2px 10px;
  border: 2px solid #c7e6fa;
  background-color: #f0ebfa;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #788697;
}
.container .card .gitDetail {
  flex-direction: row;
  font-size: 14px;
  line-height: 33px;
  color: #7b8ca0;
  display: flex;
}
.gitDetail > span {
  margin-left: 10px;
  margin-right: 5px;
}
.gitDetail > button {
  height: 30px;
  border: none;
  background-color: transparent;
}
.likeBtn {
  width: 31px;
  height: 33px;
  position: relative;
  left: -4px;
  top: -2px;
  border: none;
}
.like-btn:active {
  box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(3px);
}
.like-button {
  font-size: 1rem;
  padding: 5px 10px;
  color: #585858;
}
.liked {
  font-weight: bold;
  color: #1565c0;
}

.no-liked {
  background-color: red;
  font-weight: 1000;
}

.likes-count {
  position: relative;
  top: -5px;
  left: -5px;
}

/* Media Queries */
/* min-width: 1025 px */

@media screen and (min-width: 1025px) {
  .card {
    width: 24%;
    display: block;
    text-align: center;
    padding: 15px 10px;
    background-color: transparent !important;
    border: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 15px 30px;
    width: 33%;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 15px 30px;
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .card {
    margin: 10px;
    width: 100%;
  }
}
