.App {
  text-align: center;
  background-color: #f8f8f8;
  height: 100vh;
}

/* HOME */
.navbar {
  display: flex;
  background-color: white;
  width: auto;
  height: 10rem;
}
.navbar__searchBar {
  flex: 1 1 auto;
}
.navbar__searchBar > input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 30px;
  border-radius: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.navbar__searchBar > input[type="text"]:focus {
  box-shadow: 0 0 5px 0 #3f69a8;
  border-color: #3f69a8;
  outline: 10px;
}
input::placeholder {
  font-size: 11px;
  color: grey;
}
.navbar__logo {
  flex: 1 1 auto;
}

/* CARDS */
.cards__container {
  padding: 40px 20px 20px 20px;
  width: 99%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

/* CARD */

.card__inner {
  background: rgba(253, 253, 253, 0.808);
  border-radius: 10px;
  padding: 0px 0px 12px 0px;
  min-width: 225px;
  max-height: 370px;
  width: 100%;
  box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}
.card__image__group {
  height: 266px;
}
.card__image {
  width: 100%;
  height: 240px;
  margin-bottom: 15px;
  transition: transform 0.2s;
}

.card__triangle {
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-right: 100px solid transparent;
  position: relative;
  bottom: 16rem;
}

.card__price > p {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 50px;
  left: 12px;
}

.card:hover {
  transform: scale(1);
  transition: transform 0.3s;
  cursor: pointer;
}

.card__author {
  font-size: 12px;
  font-weight: 100;
  margin: 0px 0px;
  word-wrap: break-word;
  color: #888b9e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17px;
  align-items: center;
}
.card__details > span {
  margin: 2px;
  padding: 2px 10px;
  border: 2px solid #c7e6fa;
  background-color: #f0ebfa;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #788697;
}
.card__buttons {
  flex-direction: row;
  font-size: 14px;
  line-height: 33px;
  color: #7b8ca0;
}
.likes-counter {
  margin-left: 9px;
  margin-right: 8px;
  position: relative;
  bottom: 5px;
}
.card__buttons > button {
  height: 30px;
  border: none;
  background-color: transparent;
}

.card__like-button {
  font-size: 1rem;
  padding: 5px 10px;
  color: #585858;
}
.card__like-button--liked {
  font-weight: bold;
  color: #1565c0;
}

.card__like-button--not-liked {
  font-weight: 300;
  font-size: 13px;
}

/* Media Queries */

@media screen and (min-width: 1025px) {
  .card {
    width: 24%;
    display: block;
    text-align: center;
    padding: 15px 10px;
    background-color: transparent !important;
    border: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    padding: 15px 30px;
    width: 33%;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
  }
}
@media screen and (max-width: 768px) {
  .card {
    padding: 15px 30px;
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .card {
    margin: 10px;
    width: 100%;
  }
}
